<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lai.smartcanteenpos">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Menu_screen"
            android:screenOrientation="landscape" />
        <activity android:name=".Register" />

        <!-- Gab part -->
        <activity android:name=".login_type_select">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>

        <activity
            android:name=".studLogin"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity" />
        <activity android:name=".changecard" />
        <activity android:name=".QRPassword" />
        <activity android:name=".QRTransfer" />
        <activity android:name=".onSpotTransferScanner" />
        <activity android:name=".reportdetails" />
        <activity android:name=".reportdetails_transfer"></activity>
    </application>

</manifest>