<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lai.smartcanteenpos">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Menu_screen"
            android:screenOrientation="landscape" />
        <activity android:name=".Register"
            android:screenOrientation="landscape" />

        <!-- Gab part -->
        <activity android:name=".login_type_select">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>
        <activity
            android:name=".studLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QRPassword"
            android:label="QR Authentication"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".QRTransfer"
            android:label="Transfer QR Code"
            android:parentActivityName=".QRPassword"
            android:screenOrientation="portrait" />
        <activity android:name=".onSpotTransferScanner" />
        <activity
            android:name=".reportdetails"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".reportdetails_transfer"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" />

        <!-- WJ part -->
        <activity
            android:name=".OrderMainActivity"
            android:label="Online Menu"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".OrderHistoryActivity"
            android:label="Order History"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QRretrieval"
            android:label="Retrieval QR Code"
            android:screenOrientation="portrait" />
        <activity android:name=".onlineOrderRetrievalScanner" />

        <!-- BS part -->
        <activity
            android:name=".RedeemMainActivity"
            android:label="@string/apps_name"
            android:parentActivityName=".MainActivity" />
        <!-- End -->

        <activity
            android:name=".wallet_history"
            android:label="Wallet History"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>